@model MvcRecordStore.Models.CartItem

@{
    ViewData["Title"] = "Delete";
}

<section class="py-4"></section>

<div class="bg-dark py-5 p-lg-5 rounded">
    <h4>Are you sure you want to delete this item from your cart?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Artist:
        </dt>
        <dd class = "col-sm-10">
            @Model.Product.Record.Artist.Name
        </dd>
        <dt class = "col-sm-2">
            Record Title:
        </dt>
        <dd class = "col-sm-10">
            @Model.Product.Record.Name
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Format):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Format)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price):
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Back to Cart</a>
    </form>
</div>

<section class="py-5"></section>
