@model IEnumerable<MvcRecordStore.Models.CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<section class="py-4"></section>

<section class="bg-dark rounded py-5">
    <div class="row mb-5">
        <div class="col text-center mx-auto">
            <h4 class="fw-bold" style="color: var(--bs-secondary-color)">Your Shopping Cart</h4>
            <h6 class="text-success">You can view and remove your cart items.</h6>
        </div>
    </div>
    <hr />
    <div class="row mt-4">
        <div class="col-sm-5 mx-auto">
            <form class="bg-primary-light mb-2 rounded p-3 border border-primary" asp-action="Index" method="get">
                <div class="mb-2">
                    <label for="currentFilter" style="width: 60px;">Search: </label>
                    <input type="text" name="currentFilter" placeholder="Search bar" value="@ViewData["CurrentFilter"]" style="width: 232px;" />
                    <br>
                </div>
                
                <div class="mb-2">
                    <label for="sortOrder" style="width: 60px;">Sort by: </label>
                    <select name="sortOrder" style="width: 232px;">
                        <option value="0">Select an option</option>
                        <option value="1">Alphabetical order (ascending)</option>
                        <option value="2">Alphabetical order (descending)</option>
                        <option value="3">Price (descending)</option>
                        <option value="4">Price (descending)</option>
                    </select>
                    <br>
                </div>

                <input type="submit" value="Apply Filters" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <div class="py-5 p-lg-5">
        <table class="table table-dark table-striped border">
            <thead>
                <tr>
                    <th class="text-muted">
                        Product
                    </th>
                    <th class="text-muted">
                        Price
                    </th>
                    <th class="text-muted">
                        Quantity
                    </th>
                    <th class="text-muted">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-muted">
                            @item.Product.Record.Artist.Name - @item.Product.Record.Name (@item.Product.Format)
                        </td>
                        <td class="text-muted">
                            $@item.Product.Price
                        </td>
                        <td class="text-muted">
                            @item.Quantity
                        </td>
                        <td class="text-muted">
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form asp-action="Payment">
            <div class="form-group">
                <input type="submit" value="Finalize Payment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>

<div class="container my-2">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
        @if ((int)ViewData["PageIndex"] > 1)
        {
            var previousPage = ((int)ViewData["PageIndex"] - 1);
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageIndex="@previousPage" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["SortOrder"]">Previous</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == (int)ViewData["PageIndex"])
            {
                <li class="page-item"><a class="page-link active" asp-action="Index" asp-route-pageIndex="@i" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["SortOrder"]">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageIndex="@i" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["SortOrder"]">@i</a></li>
            }
        }
        @if ((int)ViewData["PageIndex"] < (int)(double)ViewData["TotalPages"])
        {
            var nextPage = ((int)ViewData["PageIndex"] + 1);
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-pageIndex="@nextPage" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["SortOrder"]">Next</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
        }
    </ul>
    </nav>
</div>

<section class="py-5"></section>